---
import StarlightFooter from '@astrojs/starlight/components/Footer.astro';
---

<StarlightFooter />

<div
	class="text-center p-4 border-t border-gray-300 dark:border-gray-700 mt-8 text-sm text-gray-600 dark:text-gray-400"
>
	<p class="my-2">
		We are an independent project and are not affiliated with <a
			href="https://resonite.com/"
			class="text-accent-700 dark:text-accent-300 hover:text-accent-800 dark:hover:text-accent-200 hover:underline"
			>Resonite</a
		> or <a
			href="https://yellowdogman.com/"
			class="text-accent-700 dark:text-accent-300 hover:text-accent-800 dark:hover:text-accent-200 hover:underline"
			>Yellow Dog Man Studios</a
		>.
	</p>
	<p class="my-2">
		These docs are made by <a
			href="https://github.com/ResoniteModding"
			class="text-accent-700 dark:text-accent-300 hover:text-accent-800 dark:hover:text-accent-200 hover:underline"
			>ResoniteModding</a
		>
	</p>
</div>
